*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.vscode

# ocamlbuild working directory
_build/

# ocamlbuild targets
*.byte
*.native

# Latex 
*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz

# data
*.nc